// Colors for Border gradient
$color1 : rgb(255,0,0);
$color2 : rgb(0,0,0);

// Width of border of buttons
$weight: 4px;

// Border animation
$animation_duration: 2s;
$animation_iteration_count: infinite;
$animation_function: linear;